/*
Theme Name:  WEB RESMI KECAMATAN KRAMAT KABUPATEN TEGAL
Theme URI:
Version:     1.0
Description: Theme for Webste Kecamatan Kramat Kabupaten Tegal
Author:      Hiret Web Indonesia
Author URI:  https://www.hiret.web.id
Template:    Divi
*/


@import url("../Divi/style.css");


/***********************************************************************
Caution: do not remove this to keep Divi Children Engine always updated
Divi Children Engine version: 1.0.3
***********************************************************************/

/*------------------------------[FONT ICONS]-----------------------------*/
/*--[Created by Divi Children, http://divi4u.com/divi-children-plugin/]--*/
/*-----------------------------------------------------------------------*/

.icon_tags, .icon_profile, .icon_chat, .icon_clipboard, .icon_calendar {
	font-family: 'ETmodules';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	color: #318EC3;
}
.icon_tags:before {
	content: "\e07c";
	padding: 0px 5px 0 0;
}
.icon_profile:before {
	content: "\e08a";
	padding: 0 5px 0 0;
}
.icon_chat:before {
	content: "\e066";
	padding: 0 5px 0 20px;
}
.icon_clipboard:before {
	content: "\e0e6";
	padding: 0 5px 0 20px;
}
.icon_calendar:before {
	content: "\e023";
	padding: 0 5px 0 20px;
}

/*- YOU CAN INCLUDE THE CUSTOM CODE FOR YOUR CHILD THEME BELOW THIS LINE-*/

/*------------------------------------------------*/
/*-----------------[  HOME PAGE ]-----------------*/
/*------------------------------------------------*/

.home.page .et_pb_blog_grid .et_pb_post {
    background-color: transparent;
    border: 0;
    padding: 19px 0;
}

.home.page .et_pb_image_container,
.home.page .et_pb_blog_grid .et_main_video_container,
.home.page .et_pb_blog_grid .et_audio_content,
.home.page .et_pb_blog_grid .et_pb_post .et_pb_slider {
    margin: 0;
}

.home.page .et_pb_blog_grid .et_pb_post a {
    color: #eee;
    line-height: 1.4em;
}

.home.page .et_pb_blog_grid .et_pb_post .post-meta,
.home.page .et_pb_blog_grid .et_pb_post .post-meta a {
    color: #688F00!important;
}

.home.page .et_pb_blog_grid .et_pb_post .post-meta a {
    text-decoration: underline;
}

h1.website-title {
    font-weight: bold;
    color: #006600!important;
    line-height: 1.2em;
}

.website-subtitle {
    font-weight: 700;
    color: #000000;
}

/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/
#top-header { 
	z-index: 99999!important; 
}

.header-title h4 {
    color: #000;
    font-weight: 600;
}

.header-title address {
    color: #333;
    display: none;
    margin-bottom: 20px!important;
    /*line-height: 20px;*/
}

.logo_container .logo {
    display: inline-block;
}

#main-header div#et-top-navigation {
    background-color: #006600;
}

.et_header_style_centered #top-menu > li > a {
    padding: 1em;
}

#top-menu .menu-item-has-children > a:first-child:after, .fullwidth-menu .menu-item-has-children > a:first-child:after, #et-secondary-nav .menu-item-has-children > a:first-child:after {
    top: 14px!important;
}

#top-menu > li {
    padding: 0 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-left: -5px;
}

.container.et_search_form_container {
    top: 5px;
}

#main-content {
    background-color: #fafafa;
    color: #000;
}

.btn-special {
    background-color: #AF0C2C;
}

.btn-special-2 {
    background-color: #024402;
}


.entry-content h2 {
    background-color: #ccc;
    padding: 10px;
    width: 102%;
    margin-left: -2%;
    margin-bottom: 30px;
    font-weight: bold;
}


/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

/* center in mobile for menu / li */

.center-in-mobile ul, .center-in-mobile {
	width: 100%!important;
	text-align: center;
	margin: 0 0 0 0 ;
}
.center-in-mobile ul li, .center-in-mobile li {
	float: none;
	display: inline-block;
}









/*WIDGET*/
.et_mobile_menu {
    background-color: rgba(48, 48, 48, 0.9);
}

.et_mobile_menu li a:hover, li.current-menu-item > a {
    font-weight: bold;
}

.et_pb_module .et_pb_widget.et_pb_new_widget {
    width: 100%!important;
    margin: 0!important;
}

#menu-home-submenu {
	padding: 0;
}

#menu-home-submenu li {
    list-style: none;
}

#menu-home-submenu li {
    text-align: center;
    display: inline-block;
    padding: 0 10px;
}

#menu-home-submenu li a > i {
    display: block;
    font-size: 2em;
}

.widget_search input#searchsubmit {
	color: #fff;
	background-color: #688F00;
}

/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*-----------------[WP CALENDAR]------------------*/
/*------------------------------------------------*/

/*------------------------------------------------*/
/*-----------------[NEWS TICKER]------------------*/
/*------------------------------------------------*/

.newsticker {
    width: 100%;
    margin-top: -10px;
    display: none;
}

.newsticker_wrapper {
	height: 20px;
}

.newsticker_scroller {
	width: 100%;
}

/*------------------------------------------------*/
/*----------------[SOCIAL MEDIA]------------------*/
/*------------------------------------------------*/

ul.et_pb_social_media_follow.center {
	width:100%;
	text-align:center;
	margin: 0 0 0 0 ;
}
.et_pb_social_media_follow.center li {
	float:none;
	display:inline-block;
}


/*------------------------------------------------*/
/*----------------[BLOG MODULE ]------------------*/
/*------------------------------------------------*/

/*feature thumbnails alongside post titles on blog page*/

.et_pb_posts.left-image .et_pb_post {
	min-height: 160px;
}

.et_pb_posts.left-image .et_pb_post a img{
    max-width: 250px!important;
    float: left;
    left: 0;
    padding-right: 14px;
}

.et_pb_posts.left-image .et_pb_post a .img{
    width: 30%;
    height: 250px;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


@media only screen and (max-width: 980px) {
    .et_pb_posts.left-image .et_pb_post a img{
      float:none;
      max-width: 250px!important;
    }

    .et_pb_posts.left-image .et_pb_post a .img{
      float:none;
      width: 100%;
    }

}



/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*------------------[TRANSITIONS]-----------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*---------------[RESPONSIVE LAYOUTS]-------------*/
/*------------------------------------------------*/

@media only screen and ( min-width: 981px ) {
	
	.et_right_sidebar #main-content .container:before {
	    right: 30% !important;
	}
	
	#left-area {
		width: 70%!important;
	}
	
	#sidebar {
		width: 30%!important;
		background-color: #0D9E9E;
	    color: #fff!important;
	    padding: 60px 20px!important;
	    margin-top: -58px;
	    
	}

	/*HOMEPAGE*/
	#header-homepage {
	    background-image: url(/images/homepage_header_background.jpg);
	    background-position: 100% 100%;
	    background-repeat: no-repeat;
	    min-height: 500px;
	}

	#header-mobile-homepage {
		display: none;
	}

	.et_fullwidth_nav #main-header .container {
		padding-left: 0!important;
		padding-right: 0!important;
	}

	.logo_container {
		padding: 10px!important;
		/*margin-bottom: 30px;*/
	}

	.logo_container .logo {
	    position: absolute;
	    left: 10%;
	}

	.logo_container .header-title {
	    display: inline-block;
	}

	.header-title h4 {
	    font-size: 2em;
	}

	.header-title address {
	    display: block;
	}

	.et-fixed-header .header-title address {
	    display: none;
	}

	.et-fixed-header .logo_container .logo {
	    height: 80px;
	}

	/*MENU*/
	.nav ul li a:hover, .nav ul li ul li a:hover, nav li.current-menu-item > a {
	    color: #eeee22!important;
	}

	/*SEARCH*/
	.et_header_style_centered .et-fixed-header .et-search-form input, .et_header_style_centered .et-fixed-header span.et_close_search_field {
		top: 50%;
	}

	/*NEWSTICKER*/
	.newsticker {
		margin-top: -3px;
		display: block;
	}

	/*center in mobile*/
	.center-in-mobile ul, .center-in-mobile {
		text-align: left;
	}
	
	/*WIDGET*/
	
	.nlposts-container h2 {
		color: #eee!important;
	
		font-size: 2em!important;
		text-transform: none!important;
		letter-spacing: normal!important;
		border-bottom: 2px solid #eee;
		line-height: normal!important;
		margin-bottom: 15px;
}
	
	.nlposts-container .nlposts-block-item {
		margin-bottom: 20px;
		width: 100%!important;
		margin-right: auto!important;
	}
	
	.nlposts-block-container .nlposts-block-thumbnail-litem a > img {
		filter: none!important;
		-webkit-filter: none!important;
		opacity: 1!important;
	}
	
	.nlposts-container .nlposts-block-item .nlposts-caption {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.nlposts-caption .nlposts-block-title, .nlposts-caption .nlposts-ulist-title {
		color: #eee!important;
	}
	
	.nlposts-caption .nlposts-block-excerpt p {
		display: none;
	}
}

/*-------------------[960px]------------------*/
@media only screen and ( min-width: 981px ) and ( max-width: 1100px ) {

	/*-------------------[Sliders]------------------*/

	/*-------------------[Portfolio]------------------*/

	/*-------------------[Sidebar]------------------*/

	/*-------------------[Menu]------------------*/

}

/*-------------------[768px]------------------*/
@media only screen and ( max-width: 980px ) {

	/*-------------------[Portfolio]------------------*/

	/*-------------------[Sliders]------------------*/

	/*-------------------[Menu]------------------*/

}

@media only screen and ( min-width: 768px ) and ( max-width: 980px ) {

}

@media screen and ( max-width: 782px ) {

}

/*-------------------[480px]------------------*/
@media only screen and ( max-width: 767px ) {

	/*-------------------[Menu]------------------*/

}

/*-------------------[320px]------------------*/
@media only screen and ( max-width: 479px ) {
	.et_header_style_centered .et-fixed-header #et_mobile_nav_menu {
		margin-top: 48px;
	}

}